#titulo{
    color: rgb(73, 173, 140);
}

p > strong{
    color: red;
}

.destacado{
    color: #f2a306;
    font-weight: bold;
}

#subtitulo{
    color: rgb(0, 4, 255);
    font-weight: bold;
}

a{
color: red;
font-weight: bold;
}

a>em{
    color: rgb(34, 0, 255);
}

p > .especial{
    color: rgb(128, 0, 255);
    font-weight: bold;
}

caption{
    color: rgb(30, 0, 255);
    font-weight: bold;
}

table, th, td {
  border: 1px solid;
  border-color: black;
  border-collapse: collapse;
  padding: 5px;
}

@scope (.especial) {
    color: rgb(255, 157, 0);
    font-weight: bold;

}

table th [scope="col"] {
    color: rgb(43, 255, 0);
    font-weight: bold;
}

#adicional p{
    color: rgb(125, 151, 61);
    font-weight: bold;
}

#adicional #especial{
    color: rgb(255, 0, 247);
    font-weight: bold;
}

 #adicional #aviso{
    color: rgb(255, 0, 0);
    font-weight: bold;
}
